<footer th:fragment="footer-fragment" xmlns:th="http://www.thymeleaf.org">

    <div class="footer-item brand">
        <strong>ResolveIT</strong>
    </div>

    <div class="footer-item">
        <i class="fa-solid fa-layer-group footer-icon"></i>
        <span>Gestione centralizzata</span>
    </div>

    <div class="footer-item">
        <i class="fa-solid fa-bolt-lightning footer-icon"></i>
        <span>Monitoraggio in tempo reale</span>
    </div>

    <div class="footer-item">
        <i class="fa-solid fa-handshake-simple footer-icon"></i>
        <span>Interazione trasparente</span>
    </div>
</footer>